<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Dashboard</title>

    <!-- link bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- link font-awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- link css -->
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <div class="container mt-5">
      <a href="/" class="btn btn-secondary mb-3">
        <i class="fa fa-arrow-left"></i> Kembali ke Dashboard
      </a>
      <h2 class="mb-4 text-center">Form Tambah Data Gendang Beleq</h2>

      <form action="/admin" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nama_gb" class="form-label">Nama Gendang Beleq</label>
          <input
            type="text"
            class="form-control"
            id="nama_gb"
            name="nama_gb"
            required
          />
        </div>

        <div class="mb-3">
          <label for="alamat_gb" class="form-label">Alamat</label>
          <input
            type="text"
            class="form-control"
            id="alamat_gb"
            name="alamat_gb"
            required
          />
        </div>

        <div class="mb-3">
          <label for="nomer_hp" class="form-label">No. HP</label>
          <input
            type="text"
            class="form-control"
            id="nomer_hp"
            name="nomer_hp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="harga" class="form-label">Harga Sewa</label>
          <input
            type="float"
            class="form-control"
            id="harga"
            name="harga"
            required
          />
        </div>

        <div class="mb-3">
          <label for="deskripsi" class="form-label">Deskripsi</label>
          <textarea
            class="form-control"
            id="deskripsi"
            name="deskripsi"
            rows="3"
            required
          ></textarea>
        </div>

        <div class="mb-3">
          <!-- Input lainnya -->
          <label for="gambar" class="form-label">Gambar</label>
          <input
            type="file"
            name="gambar"
            id="gambar"
            class="form-control"
            accept="image/*"
            required
          />
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input
              type="text"
              class="form-control"
              id="latitude"
              name="latitude"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input
              type="text"
              class="form-control"
              id="longitude"
              name="longitude"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="jm_gendang" class="form-label">Jumlah Gendang</label>
            <input
              type="number"
              class="form-control"
              id="jm_gendang"
              name="jm_gendang"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_suling" class="form-label">Jumlah Suling</label>
            <input
              type="number"
              class="form-control"
              id="jm_suling"
              name="jm_suling"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_cemprang" class="form-label">Jumlah Cemprang</label>
            <input
              type="number"
              class="form-control"
              id="jm_cemprang"
              name="jm_cemprang"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_reong" class="form-label">Jumlah Reong</label>
            <input
              type="number"
              class="form-control"
              id="jm_reong"
              name="jm_reong"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_gong" class="form-label">Jumlah Gong</label>
            <input
              type="number"
              class="form-control"
              id="jm_gong"
              name="jm_gong"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_petuq" class="form-label">Jumlah Petuq</label>
            <input
              type="number"
              class="form-control"
              id="jm_petuq"
              name="jm_petuq"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="jm_rencek" class="form-label">Jumlah Rencek</label>
            <input
              type="number"
              class="form-control"
              id="jm_rencek"
              name="jm_rencek"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="map" class="form-label">Link Google Maps</label>
            <input type="text" class="form-control" id="map" name="map" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="link_ig" class="form-label">Link Instagram</label>
            <input
              type="text"
              class="form-control"
              id="link_ig"
              name="link_ig"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="link_fb" class="form-label">Link Facebook</label>
            <input
              type="text"
              class="form-control"
              id="link_fb"
              name="link_fb"
            />
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 text-center">
          Simpan Data
        </button>
      </form>
    </div>

    <div class="container my-4">
      <h2 class="text-center mb-3 mt-5">Data Gendang Beleq</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <!-- <th>ID</th> -->
              <th>Nama</th>
              <th>Alamat</th>
              <th>No. HP</th>
              <th>Harga</th>
              <th>Deskripsi</th>
              <th>Gendang</th>
              <th>Suling</th>
              <th>Cemprang</th>
              <th>Reong</th>
              <th>Gong</th>
              <th>Petuq</th>
              <th>Rencek</th>
              <th>Gambar</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Link Map</th>
              <th>Link fb</th>
              <th>link ig</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% if (data && data.length > 0) { %> <% data.forEach(item => { %>
            <tr>
              <td><%= item.nama_gb %></td>
              <td><%= item.alamat_gb %></td>
              <td><%= item.nomer_hp %></td>
              <td>Rp.<%= item.harga %></td>
              <td><%= item.deskripsi %></td>

              <td><%= item.jm_gendang %></td>
              <td><%= item.jm_suling %></td>
              <td><%= item.jm_cemprang %></td>
              <td><%= item.jm_reong %></td>
              <td><%= item.jm_gong %></td>
              <td><%= item.jm_petuq %></td>
              <td><%= item.jm_rencek %></td>

              <td>
                <img src="<%= item.gambar %>" alt="gambar" width="80" />
              </td>
              <td><%= item.latitude %></td>
              <td><%= item.longitude %></td>
              <td><a href="<%= item.map %>" target="_blank">Link Map</a></td>
              <td><%= item.link_fb %></td>
              <td><%= item.link_ig %></td>
              <td class="d-flex flex-column flex-md-row gap-2">
                <button
                  class="btn btn-warning btn-sm"
                  onclick="updateData('<%= item.id %>')"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  onclick="deleteData('<%= item.id %>')"
                >
                  Hapus
                </button>
              </td>
            </tr>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="17" class="text-center">Data kosong</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal Edit Data -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <form id="editForm" enctype="multipart/form-data">
          <input type="hidden" id="edit-id" name="id" />
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Data</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="edit-nama_gb" class="form-label"
                  >Nama Gendang Beleq</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="edit-nama_gb"
                  name="nama_gb"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="edit-alamat_gb" class="form-label">Alamat</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-alamat_gb"
                  name="alamat_gb"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="edit-nomer_hp" class="form-label">Nomor HP</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-nomer_hp"
                  name="nomer_hp"
                />
              </div>
              <div class="mb-3">
                <label for="edit-harga" class="form-label">Harga</label>
                <input
                  type="float"
                  class="form-control"
                  id="edit-harga"
                  name="harga"
                />
              </div>
              <div class="mb-3">
                <label for="edit-deskripsi" class="form-label">Deskripsi</label>
                <textarea
                  class="form-control"
                  id="edit-deskripsi"
                  name="deskripsi"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="edit-gambar" class="form-label">Gambar</label>
                <input
                  type="file"
                  class="form-control"
                  id="edit-gambar"
                  name="gambar"
                  accept="image/*"
                />
              </div>
              <div class="mb-3">
                <label for="edit-latitude" class="form-label">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-latitude"
                  name="latitude"
                />
              </div>
              <div class="mb-3">
                <label for="edit-longitude" class="form-label">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-longitude"
                  name="longitude"
                />
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="edit-gendang" class="form-label"
                    >Jumlah Gendang</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-gendang"
                    name="jm_gendang"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-suling" class="form-label"
                    >Jumlah Suling</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-suling"
                    name="jm_suling"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-cemprang" class="form-label"
                    >Jumlah Cemprang</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-cemprang"
                    name="jm_cemprang"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-reong" class="form-label"
                    >Jumlah Reong</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-reong"
                    name="jm_reong"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-gong" class="form-label">Jumlah Gong</label>
                  <input
                    type="number"
                    class="form-control"
                    id="edit-gong"
                    name="jm_gong"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-petuq" class="form-label"
                    >Jumlah Petuq</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-petuq"
                    name="jm_petuq"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-rencek" class="form-label"
                    >Jumlah Rencek</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="edit-rencek"
                    name="jm_rencek"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-map" class="form-label"
                    >Link Google Maps</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="edit-map"
                    name="map"
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-fb" class="form-label">Link Facebook</label>
                  <input
                    type="text"
                    class="form-control"
                    id="edit-fb"
                    name="link_fb"
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edit-ig" class="form-label">Link Instagram</label>
                  <input
                    type="text"
                    class="form-control"
                    id="edit-ig"
                    name="link_ig"
                  />
                </div>
              </div>
              <!-- <div class="mb-3">
                <label for="edit-map" class="form-label">Link Map</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-map"
                  name="map"
                />
              </div> -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
              <button type="submit" class="btn btn-primary">
                Simpan Perubahan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // Kirim data dari server ke global variable di browser
      window.data = <%- JSON.stringify(data) %>;
    </script>
    <script src="/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get("success") === "1") {
        Swal.fire({
          icon: "success",
          title: "Berhasil!",
          text: "Data berhasil ditambahkan.",
        });
      }
    </script>
  </body>
</html>
